[submodule "External/GLFW"]
	path = External/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "External/GLM"]
	path = External/GLM
	url = https://github.com/g-truc/glm.git
[submodule "External/GoogleTest"]
	path = External/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "External/Cross"]
	path = External/Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
